<!DOCTYPE html>
<html lang="en">
<head>
<title>Deepfake</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<head>
<body>

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <div class="w3-center">
  <h4>HKU SAIL</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom">DeepFake Detection</h1>
  </div>
</header>

<!--Buttons -->
<hr>
<h2 class="w3-center">Methods</h2>
<div class="w3-center">
  <br>
  <a class="w3-button w3-theme" href="Project">Video Inference</a>
  <a class="w3-button w3-theme" href="Classification">Classification</a>
  <a class="w3-button w3-theme" href="Project">Segmentation</a>
  <br>
</div>
<br>
<hr>



</body>
</html>
